---
const { title } = Astro.props;

import Navbar from "../components/Navbar.astro";

const description = "Kerala Startup Mission is the nodal agency of the Government of Kerala for entrepreneurship development and incubation activities in Kerala, India.";
const url = "https://startupmission.kerala.gov.in/";

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Primary Meta Tags -->
		<meta name="title" content={title} >
		<meta name="description" content={description}>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content={url}>
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={url + 'img/fb_image.jpg'}>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content={url}>
		<meta property="twitter:title" content={title}>
		<meta property="twitter:description" content={description}>
		<meta property="twitter:image" content={url + 'img/fb_image.jpg'}>


		<link rel="shortcut icon" type="image/x-icon" href="/assets/im/favicon.png">
		<!-- CSS here -->
		<link rel="stylesheet" href="/assets/css/preloader.css">
		<link rel="stylesheet" href="/assets/css/bootstrap.css">
		<link rel="stylesheet" href="/assets/css/meanmenu.css">
		<link rel="stylesheet" href="/assets/css/animate.css">
		<link rel="stylesheet" href="/assets/css/owl-carousel.css">
		<link rel="stylesheet" href="/assets/css/swiper-bundle.css">
		<link rel="stylesheet" href="/assets/css/backtotop.css">
		<link rel="stylesheet" href="/assets/css/magnific-popup.css">
		<link rel="stylesheet" href="/assets/css/nice-select.css">
		<link rel="stylesheet" href="/assets/flaticon/flaticon.css">
		<link rel="stylesheet" href="/assets/css/font-awesome-pro.css">
		<link rel="stylesheet" href="/assets/css/default.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<script type="text/javascript">
			(function(c,l,a,r,i,t,y){
				c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
				t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
				y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
			})(window, document, "clarity", "script", "jh83dp623x");
		</script>
		<script type="text/javascript">
			(function(c,l,a,r,i,t,y){
				c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
				t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
				y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
			})(window, document, "clarity", "script", "jh84oa8pg7");
		</script>
		
	</head>
	<body>

		<!--FB Chat -->
	<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({
    xfbml            : true,
    version          : 'v18.0'
  });
};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
  attribution="install_email"
  attribution_version="biz_inbox"
  page_id="102106889449599">
</div>
<!--FB Chat -->
	
		<Navbar></Navbar>

		<slot />

		<footer>
			<div class="fotter-area d-dark-bg">
					
					<div class="footer__bottom">
							<div class="container-xl">
									<div class="footer__bottom-content pt-55 pb-45">
											<div class="row">
													<div class="col-xl-12">
															<div class="footer__links text-center mb-25">
																	<p>
																	<a href="/">Home</a>
																	<a href="/innovators">Join IEDC Network</a>
																	<a href="/newiedc">Apply for IEDC</a>
																	<a href="/activityreport">Reports</a>
																	
																			<br>
																	<a href="https://iedc.startupmission.in">Know more about IEDC</a>
																	<a href="https://startupmission.kerala.gov.in">Kerala Startup Mission</a>
																	<a href="https://rink.startupmission.in">Research Innovators Network Kerala</a>
																	<a href="https://aip.startupmission.in">Academic Internship Programme</a>
																	<a href="https://grants.startupmission.in">Grants</a>                                    
																	<a href="https://startups.startupmission.in">Get your startup recognised</a>                                
																	
																	</p>
															</div>
															
															<div class="copy-right-area text-center">
																	<p>Copyright © <a href="https://startupmission.kerala.gov.in/"><span class="main-color">Kerala Startup Mission</span></a> All Rights Reserved</p>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
		</footer>

		<script src="/assets/js/vendor/jquery.js" is:inline></script>
		<script src="/assets/js/vendor/waypoints.js"  is:inline></script>
		<script src="/assets/js/bootstrap-bundle.js"  is:inline></script>
		<script src="/assets/js/meanmenu.js"  is:inline></script>
		<script src="/assets/js/swiper-bundle.js"  is:inline></script>
		<script src="/assets/js/tweenmax.js"  is:inline></script>
		<script src="/assets/js/owl-carousel.js"  is:inline></script>
		<script src="/assets/js/magnific-popup.js"  is:inline></script>
		<script src="/assets/js/parallax.js"  is:inline></script>
		<script src="/assets/js/backtotop.js"  is:inline></script>
		<script src="/assets/js/nice-select.js"  is:inline></script>
		<script src="/assets/js/countdown.min.js"  is:inline></script>
		<script src="/assets/js/counterup.js"  is:inline></script>
		<script src="/assets/js/ui-slider-range.js"  is:inline></script>
		<script src="/assets/js/wow.js"  is:inline></script>
		<script src="/assets/js/isotope-pkgd.js"  is:inline></script>
		<script src="/assets/js/imagesloaded-pkgd.js"  is:inline></script>
		<script src="/assets/js/ajax-form.js"  is:inline></script>
		<script src="/assets/js/main.js"  is:inline></script>
	</body>
</html>
